name: Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - gh-actions

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_USER: 'root'
          MYSQL_PASSWORD: ''
          MYSQL_DATABASE: 'Craftconomy'

    strategy:
      matrix:
        java-version: [ '11', '17' ]
        spigot-version: [ '1.8.8', '1.9.4', '1.10.2', '1.11.2', '1.12.2', '1.13.2', '1.14.4', '1.15.2', '1.16.5', '1.17.1', '1.18.2', '1.19.4', '1.20.1' ]

    name: Tests on Java ${{ matrix.java-version }} & Spigot ${{ matrix.spigot-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Setup JDK v${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2      

      - name: Run tests
        run: mvn test jacoco:report -P Spigot-${{ matrix.spigot-version }}
        
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
